# {{ ansible_managed }}

#
# NETWORK
#

bind {{ redis_conf_bind }}
protected-mode yes

port {{ redis_conf_port }}

{% if redis_conf_unixsocket_path %}
unixsocket {{ redis_conf_unixsocket_path }}
unixsocketperm {{ redis_conf_unixsocket_permissions }}
{% endif -%}

timeout {{ redis_conf_timeout }}
tcp-keepalive 300


#
# GENERAL
#

supervised auto

loglevel notice
logfile /var/log/redis/redis-server.log

databases 16

always-show-logo no

#
# SNAPSHOTTING
#

save 900 1
save 300 10
save 60 10000

stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes

dbfilename dump.rdb
dir /var/lib/redis


#
# REPLICATION
#

replica-serve-stale-data yes
replica-read-only yes
replica-priority 100

repl-diskless-sync no
repl-diskless-sync-delay 5
repl-disable-tcp-nodelay no

{% if redis_conf_requirepass %}
#
# SECURITY
#

requirepass {{ redis_conf_requirepass }}
{% endif -%}

#
# MEMORY MANAGEMENT
#

{% if redis_conf_maxmemory %}
maxmemory {{ redis_conf_maxmemory }}
{% endif -%}
maxmemory-policy {{ redis_conf_maxmemory_policy }}

#
# LAZY FREEING
#

lazyfree-lazy-eviction {{ redis_conf_lazyfree_lazy_eviction }}
lazyfree-lazy-expire {{ redis_conf_lazyfree_lazy_expire }}
lazyfree-lazy-server-del {{ redis_conf_lazyfree_lazy_server_del }}
replica-lazy-flush {{ redis_conf_replica_lazy_flush }}

#
# THREADED I/O
#

io-threads {{ redis_conf_io_threads }}

#
# APPEND ONLY MODE
#

appendonly no
appendfilename "appendonly.aof"

# appendfsync always
appendfsync everysec
# appendfsync no
no-appendfsync-on-rewrite no

auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb

aof-load-truncated yes
aof-use-rdb-preamble yes

#
# LUA SCRIPTING
#

lua-time-limit 5000

#
# SLOW LOG
#

slowlog-log-slower-than 10000
slowlog-max-len 128

#
# LATENCY MONITOR
#

latency-monitor-threshold 0

#
# EVENT NOTIFICATION
#

notify-keyspace-events ""

#
# ADVANCED CONFIG
#

hash-max-ziplist-entries 512
hash-max-ziplist-value 64

list-max-ziplist-size -2
list-compress-depth 0

set-max-intset-entries 512

zset-max-ziplist-entries 128
zset-max-ziplist-value 64

hll-sparse-max-bytes 3000

stream-node-max-bytes 4096
stream-node-max-entries 100

activerehashing yes

client-output-buffer-limit normal 0 0 0
client-output-buffer-limit replica 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60

hz 10
dynamic-hz yes

aof-rewrite-incremental-fsync yes
rdb-save-incremental-fsync yes

#
# INCLUDES
#

include /etc/redis/conf.d/*.conf
